.formation-card {
  width: 350px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.formation-card:hover {
  cursor: pointer;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
}

.formation-card:hover .f-card-image {
  scale: 1.5;
}

.f-card-image-container {
  height: 60%;
  width: 100%;
  background: #833AB4;
  background: linear-gradient(90deg, rgb(53, 114, 235) 0%, rgb(252, 75, 78) 50%, rgb(255, 210, 11) 100%);
  filter: brightness(0.7);
}

.formation-card:hover .f-card-image-container {
  filter: brightness(0.8);
}

.f-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.f-card-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.f-card-header span {
  font-weight: 500;
  font-size: 12px;
}

.f-card-header h2 {
  font-weight: 500;
  font-size: 20px;
}

.f-card-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}
