.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  border-bottom: 1px solid #ddd;
}

.header-logo {
  width: 140px;
}

@media (max-width: 600px) {
  .header-container {
    padding: 20px 16px;
  }

  .header-logo {
    width: 100px;
  }
}
