.dashboard-container {
  padding-top: 42px;
}

.dashboard-admin {
  font-weight: 700;
  color: #FC4B4E;
}

.dashboard-container h1 {
  font-weight: 500;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 32px;
}

thead {
  background-color: #3572eb;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  font-weight: 500;
  color: white;
}

td {
  text-align: center;
}

.dashboard-buttons {
  display: flex;
  justify-content: space-around;
}

.dashboard-buttons button {
  width: 40%;
  height: 32px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.dashboard-buttons button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.dashboard-appouve-btn {
  background-color: #7fce3a;
}

.dashboard-reject-btn {
  background-color: #FC4B4E;
}
