<div class="dashboard-container">
  <p class="dashboard-admin">ADMIN</p>
  <h1>Liste des demandes de formations:</h1>

  <table>
    <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Formation</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    @for(inscription of listInscriptions; track inscription.id){
      <tr>
        <td>{{ inscription.user.email }}</td>
        <td>{{ inscription.formation.title }}</td>
        <td>{{ inscription.status }}</td>
        <td class="dashboard-buttons">
          <button class="dashboard-approve-btn" (click)="approveInscription(inscription.id)">Approuver</button>
          <button class="dashboard-reject-btn">Rejeter</button>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
