.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px;
}

.signup-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.signup-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.signup-text h1 {
  font-size: 40px;
  font-weight: 500;
}

.signup-text p {
  font-size: 24px
}

.signup-login-link {
  color: #3573ED;
  font-weight: 500;
  cursor: pointer;
}
