<div class="auth-container">
  <div class="auth-top">
    <img src="/icons/logo.svg" alt="Logo Run Formation" />

    <div class="auth-text">
      <h1>Bienvenu sur Run Formation.</h1>
      <p>Veuillez créer un compte ou vous connecter pour accéder à la liste de formations.</p>
    </div>
  </div>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="email">Email:</label>
      <input id="email" class="email" type="email" formControlName="email" />
    </div>

    <div class="input-group">
      <label for="password">Mot de passe:</label>
      <input id="password" class="passwords" type="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="signupForm.invalid">Envoyer</button>
  </form>

  <p class="error-message">{{ errorMessage }}</p>

  <p>Vous avez déjà un compte ? <a routerLink="/auth/login" class="signup-login-link">Connectez vous ici</a></p>
</div>

