.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border-bottom: 1px solid #ddd;
}

.header-user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 4px 8px 4px 4px;
}
.header-user-button:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.header-user-profile {

}

.header-user-button-arrow {

}
