.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px;
}

.auth-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.auth-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.auth-text h1 {
  font-size: 40px;
  font-weight: 500;
}

.auth-text p {
  font-size: 24px
}

.auth-login-link {
  color: #3573ED;
  font-weight: 500;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

form h1 {
  font-size: 36px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width:40%;
  min-width: 300px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-group label {
  font-size: 1rem;
}

.input-group input {
  font-size: 24px;
  padding-left: 8px;
  height: 42px;
}

form button {
  padding: 8px;
  font-weight: 500;
  margin-top: 16px;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  background-color: #3573ED;
  color: white;
}

form button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

form button:disabled {
  filter: brightness(70%);
}

.error-message {
  color: #c53131;
}


@media (max-width: 600px) {
  .auth-container {
    gap: 32px;
    padding: 8px;
  }

  .auth-top {
    gap: 32px;
  }

  .auth-text {
    gap: 16px;
  }

  .auth-text h1 {
    font-size: 24px;
  }

  .auth-text p {
    font-size: 16px;
    text-align: center;
  }
}
