.user-button-container {
 position: relative;
}

.user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 4px 12px 4px 4px;
}
.user-button:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.user-button-arrow {

}

.user-menu {
  position: absolute;
  top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 180px;
  border: #ddd 1px solid;
  border-radius: 10px;
  padding: 20px 14px;
  background-color: #FFFDF6;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.user-menu a {
  text-decoration: none;
  color: black;
}

.user-menu a:hover {
  text-decoration: underline;
}
