<div class="auth-container">
  <div class="auth-top">
    <img src="/icons/logo.svg" alt="Logo Run Formation" />

    <div class="auth-text">
      <h1>Bienvenu sur Run Formation.</h1>
      <p>Se connecter pour accéder aux formations.</p>
    </div>
  </div>

  <form>
    <div class="input-group">
      <label for="email">Email:</label>
      <input id="email" class="email" type="email" />
    </div>

    <div class="input-group">
      <label for="password">Mot de passe:</label>
      <input id="password" class="passwords" type="password" />
    </div>

    <button>Envoyer</button>
  </form>

  <p>Vous n'avez pas de compte ? <a routerLink="/" class="signup-login-link">Créer un compte ici</a></p>
</div>
