<div class="formation-container">
  @if( loading ) {
    <p>Chargement...</p>
  }
  <a class="formation-back-link" routerLink="/home"><-- Retour à la liste de formation</a>

  <div class="formation-title-description">
    <h1 class="formation-title">{{ formationData.title }}</h1>
    <p class="formation-description">{{ formationData.description }}</p>
  </div>
  <p><span class="formation-duration">Durée:</span> {{ formationData.duration }} Mois</p>

  @if (inscriptionStatus === "APPROVED") {
    <p>Contenu</p>
  } @else {
    <button class="formation-inscription-btn" (click)="inscriptionFormation(formationData.id)">
      {{ inscriptionStatus === "NONE" ? "M'inscrire à la formation" : "Inscription en cours de validation"}}
    </button>
  }
</div>
