@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  font-weight: 300;
}

body {
  background-color: #FFFDF6;
}

.error-message {
  color: #c53131;
}
